Aress7/src/flows/Automatic_Order_and_Contract_Creation-16.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>195</locationX>
        <locationY>148</locationY>
        <actionName>Opportunity.Duplicate_Order</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Lock_Variable</name>
        <label>Set Lock Variable</label>
        <locationX>54</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>blLock</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MIS_exists_variable</name>
        <label>Set MIS exists variable</label>
        <locationX>1441</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>MIS_Opp_Exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_other_product_flag</name>
        <label>Set other product flag</label>
        <locationX>409</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>blOtherProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_record_type</name>
        <label>set record type to MI</label>
        <locationX>990</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>strRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01224000000LNKm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Install_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_type_to_Non_MI</name>
        <label>Set Record type to Non MI</label>
        <locationX>995</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>strRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01224000000LNKn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Helen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Install_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specific_Product_Flag</name>
        <label>Set Specific Product Flag</label>
        <locationX>55</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>blSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specific_Product_Flag2</name>
        <label>Set Specific Product Flag</label>
        <locationX>605</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>blSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Line_Items2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specific_Product_Flag3</name>
        <label>Set Specific Product Flag</label>
        <locationX>1013</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>blSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_to_Install_Only</name>
        <label>Set status to Install Only</label>
        <locationX>1275</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>strOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Install Only</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Atleast_one_Accepted_Quote_exists</name>
        <label>Atleast one Accepted Quote exists</label>
        <locationX>766</locationX>
        <locationY>12</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>QuoteExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_managed_install</targetReference>
            </connector>
            <label>Quote Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certain_Product_Family</name>
        <label>Certain Product Family</label>
        <locationX>1797</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Selected_Product_Family</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adjustments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOCK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_MIS_exists</targetReference>
            </connector>
            <label>Selected Product Family</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Lock_Product</name>
        <label>Contains Lock Product</label>
        <locationX>250</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>Specific_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EachOppLineItem.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOCK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lock_Variable</targetReference>
            </connector>
            <label>Lock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Specific_Product</name>
        <label>Contains Specific Product</label>
        <locationX>802</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Specific_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_type_to_Non_MI</targetReference>
            </connector>
            <label>Has Specific Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_specific_products</name>
        <label>Has specific products</label>
        <locationX>871</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>Loop_Opp_Line_Items2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_specific_product2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Specific_Product_Flag2</targetReference>
            </connector>
            <label>Has specific product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Specific_Products2</name>
        <label>Has Specific Products</label>
        <locationX>1293</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Opp_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Specific_Products3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charging Cables</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Specific_Product_Flag3</targetReference>
            </connector>
            <label>Has Specific Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Customer</name>
        <label>If Customer</label>
        <locationX>504</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Atleast_one_Accepted_Quote_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Type_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_managed_install</targetReference>
            </connector>
            <label>Type = Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_managed_install</name>
        <label>If managed install</label>
        <locationX>774</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Set_Record_type_to_Non_MI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Managed_Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blManagedInstall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_record_type</targetReference>
            </connector>
            <label>Managed Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_MIS_exists</name>
        <label>If MIS exists</label>
        <locationX>1680</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Look_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MIS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MIS_exists_variable</targetReference>
            </connector>
            <label>MIS Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Install_Only</name>
        <label>Install Only</label>
        <locationX>1123</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Create_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Only_Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blInstallOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_Install_Only</targetReference>
            </connector>
            <label>Only Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_Other_Products</name>
        <label>Only Other Products</label>
        <locationX>518</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_at_atleast_one_specifc_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Customer</targetReference>
            </connector>
            <label>Has at atleast one specifc product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Exists_or_Not</name>
        <label>Order Exists or Not</label>
        <locationX>313</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOrderID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Order Exists</label>
        </rules>
        <rules>
            <name>Order_Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOrderID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account</targetReference>
            </connector>
            <label>Order Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>505</locationX>
        <locationY>438</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Online_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opp_Line_Items</targetReference>
            </connector>
            <label>Online Payment</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OppRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opp_Line_Items2</targetReference>
            </connector>
            <label>Commercial or Project</label>
        </rules>
        <rules>
            <name>Home_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Opp_Line_Items</targetReference>
            </connector>
            <label>Home Charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_opp</name>
        <label>Record Type</label>
        <locationX>1934</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Home_Charge_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specific_Product_opp</targetReference>
            </connector>
            <label>Home Charge</label>
        </rules>
        <rules>
            <name>Else</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Home Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certain_Product_Family</targetReference>
            </connector>
            <label>Else</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specific_Product</name>
        <label>Specific Product</label>
        <locationX>245</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>Loop_Opp_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Specific_Products</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo Units</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Twin Units</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charging Cables</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rapid Chargers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mounts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Specific_Product_Flag</targetReference>
            </connector>
            <label>Specific Products</label>
        </rules>
        <rules>
            <name>Other_Products</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIS, Data and Warranty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adjustments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_other_product_flag</targetReference>
            </connector>
            <label>Other Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specific_Product_opp</name>
        <label>Specific Product</label>
        <locationX>2008</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>Look_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Specific_Product_in_opp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charging Cables</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachOppLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Product</targetReference>
            </connector>
            <label>Specific Product</label>
        </rules>
    </decisions>
    <description>Order and Contract will be automatically created on the opportunity is Won.</description>
    <formulas>
        <name>frContractDuration</name>
        <dataType>Number</dataType>
        <expression>value({!strLeaseDuration})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Automatic Order and Contract Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatic Order and Contract Creation</label>
    <loops>
        <name>Look_Quote_Line_Items</name>
        <label>Look Quote Line Items</label>
        <locationX>1682</locationX>
        <locationY>77</locationY>
        <assignNextValueToReference>EachOppLineItem</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_opp</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Opp_Line_Items</name>
        <label>Loop Opp Line Items</label>
        <locationX>256</locationX>
        <locationY>560</locationY>
        <assignNextValueToReference>EachOppLineItem</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contains_Lock_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contains_Specific_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opp_Line_Items2</name>
        <label>Loop Opp Line Items</label>
        <locationX>703</locationX>
        <locationY>694</locationY>
        <assignNextValueToReference>EachOppLineItem</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_specific_products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Only_Other_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opp_Line_Items</name>
        <label>Loop through Opp Line Items</label>
        <locationX>1146</locationX>
        <locationY>606</locationY>
        <assignNextValueToReference>EachOppLineItem</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Specific_Products2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contains_Specific_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>1431</locationX>
        <locationY>138</locationY>
        <assignRecordIdToReference>OrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Look_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>strBillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>strBillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>strBillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>strBilllingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>strBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>contractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Only__c</field>
            <value>
                <elementReference>blInstallOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_about_your_order__c</field>
            <value>
                <elementReference>strOrderNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>strShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>strShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>strShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>strShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>strShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>strOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product</name>
        <label>Create Order Product</label>
        <locationX>1977</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>If_MIS_exists</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>OrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>EachOppLineItem.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>EachOppLineItem.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>EachOppLineItem.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>80</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>strBillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBilllingState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_All_opp_line_items</name>
        <label>Lookup All opp line items</label>
        <locationX>297</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ListOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Look up Opportunity</label>
        <locationX>72</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Orders</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>blInstallOnly</assignToReference>
            <field>Install_Only__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>blManagedInstall</assignToReference>
            <field>Managed_Installation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>blManagedInstall</assignToReference>
            <field>Managed_Installation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strPaymentType</assignToReference>
            <field>Payment_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strPurchaseType</assignToReference>
            <field>Purchase_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Orders</name>
        <label>Lookup Orders</label>
        <locationX>361</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Exists_or_Not</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>strOrderID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote</name>
        <label>Lookup Quote</label>
        <locationX>85</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_All_opp_line_items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBilllingState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuoteID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOrderNotes</assignToReference>
            <field>Notes_about_your_order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strQuoteNumber</assignToReference>
            <field>QuoteNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Lookup_Opportunity</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blInstallOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blLock</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>blManagedInstall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blOtherProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>blSpecificProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dtLeaseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EachOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>EmailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ListQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>lstOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>MIS_Opp_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MIS_Quote_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBilllingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLeaseDuration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOrderNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPurchaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQuoteNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
