Aress7/src/flows/Calculate_total_Sockets-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Sockets</name>
        <label>Add Sockets</label>
        <locationX>576</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>TotalSockets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frSocketsIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Scokets</name>
        <label>Total Scokets</label>
        <locationX>382</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>TotalSockets</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>frSocketsIncrement</name>
        <dataType>Number</dataType>
        <expression>{!TotalSockets} + {!singleProduct.Sockets__c}*{!singleProduct.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Calculate total Sockets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate total Sockets</label>
    <loops>
        <name>Loop_through_products</name>
        <label>Loop through products</label>
        <locationX>574</locationX>
        <locationY>56</locationY>
        <assignNextValueToReference>singleProduct</assignNextValueToReference>
        <collectionReference>listOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Sockets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>27</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opp_Products</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>SocketsOpp</assignToReference>
            <field>Sockets__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Products</name>
        <label>Lookup Opp Products</label>
        <locationX>201</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Scokets</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>listOppProducts</outputReference>
        <queriedFields>Sockets__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>795</locationX>
        <locationY>55</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sockets__c</field>
            <value>
                <elementReference>TotalSockets</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>listOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>singleProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SocketsOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalSockets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
