Aress7/src/flows/Calculate_Total_Bonus-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Bonus</name>
        <label>Add Bonus</label>
        <locationX>471</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>TotalBonusOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frBonusIncrement</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Total_Bonus</name>
        <label>Total Bonus</label>
        <locationX>313</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>TotalBonusOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Products</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>frBonusIncrement</name>
        <dataType>Number</dataType>
        <expression>{!TotalBonusOpp} + {!singleProduct.Bonus_Weighting__c} * {!singleProduct.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Calculate Total Bonus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Total Bonus</label>
    <loops>
        <name>Loop_through_Products</name>
        <label>Loop through Products</label>
        <locationX>471</locationX>
        <locationY>99</locationY>
        <assignNextValueToReference>singleProduct</assignNextValueToReference>
        <collectionReference>listOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Bonus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Oppty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Opp_Products</name>
        <label>Lookup Opp Products</label>
        <locationX>161</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Bonus</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>listOppProducts</outputReference>
        <queriedFields>Bonus_Weighting__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Oppty</name>
        <label>Lookup Oppty</label>
        <locationX>14</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opp_Products</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>TotalBonusOpp</assignToReference>
            <field>Total_Bonus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>698</locationX>
        <locationY>99</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Bonus__c</field>
            <value>
                <elementReference>TotalBonusOpp</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Oppty</startElementReference>
    <variables>
        <name>listOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>singleProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>strOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalBonusOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
