Aress7/src/flows/Case_Status_Update_on_Email_Sent_or_Recieved-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_Found</name>
        <label>Case Found</label>
        <locationX>103</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Record_Type</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Name</name>
        <label>Record Type Name</label>
        <locationX>495</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Specific_Record_Type_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homecharge Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homecharge Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic Survey Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Operation</targetReference>
            </connector>
            <label>Specific Record Type Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Operation</name>
        <label>Type of Operation</label>
        <locationX>743</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOperationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incoming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_status</targetReference>
            </connector>
            <label>Incoming</label>
        </rules>
        <rules>
            <name>Outgoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOperationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outgoing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_status_0</targetReference>
            </connector>
            <label>Outgoing</label>
        </rules>
    </decisions>
    <interviewLabel>Case Status Update on Email Sent or Recieved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Update on Email Sent or Recieved</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>103</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type</name>
        <label>Lookup Record Type</label>
        <locationX>317</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_status</name>
        <label>Update Case status</label>
        <locationX>603</locationX>
        <locationY>316</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_status_0</name>
        <label>Update Case status</label>
        <locationX>903</locationX>
        <locationY>313</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Lookup_Case</startElementReference>
    <variables>
        <name>strCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOperationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
