Aress7/src/flows/Case_Reassignment_based_on_Home_Charge_Opp-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>383</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>lstCasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>586</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>singleCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Owner_Changed</name>
        <label>Has Owner Changed to Queue</label>
        <locationX>479</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>To_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strNewValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUp_Queue_Name</targetReference>
            </connector>
            <label>To Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Owner_Changed_0</name>
        <label>Queue or User</label>
        <locationX>688</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>To_Queue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Queue</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUp_User</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Queue_ID</name>
        <label>Has Queue ID</label>
        <locationX>480</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>To_set_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUp_Record_Type_0</targetReference>
            </connector>
            <label>To  set Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Won_or_Un_Won</name>
        <label>Opp Won or Un-Won</label>
        <locationX>43</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Opp_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOppStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUp_Queue</targetReference>
            </connector>
            <label>Opp Won</label>
        </rules>
        <rules>
            <name>Opp_Un_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOppStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <label>Opp Un-Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Not_Found</name>
        <label>Owner is found</label>
        <locationX>817</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOwnerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Case Reassignment based on Home Charge Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Reassignment based on Home Charge Opp</label>
    <loops>
        <name>Loop_On_Cases</name>
        <label>Loop On Cases</label>
        <locationX>259</locationX>
        <locationY>318</locationY>
        <assignNextValueToReference>singleCase</assignNextValueToReference>
        <collectionReference>lstCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LookUp_Case_History</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_List_Of_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookUp_Case_History</name>
        <label>LookUp Case History</label>
        <locationX>260</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Owner_Changed</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <object>CaseHistory</object>
        <outputAssignments>
            <assignToReference>strNewValue</assignToReference>
            <field>NewValue</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOldValue</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Cases</name>
        <label>LookUp Cases</label>
        <locationX>48</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Cases</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Queue</name>
        <label>LookUp Queue</label>
        <locationX>319</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Queue_ID</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HC_Docs_Request_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>strQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Queue_Name</name>
        <label>LookUp Queue Name</label>
        <locationX>488</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Owner_Changed_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOldValue</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>strOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Record_Type_0</name>
        <label>LookUp Record Type</label>
        <locationX>724</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cases_On_Opportunity_Won</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homecharge_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_User</name>
        <label>LookUp User</label>
        <locationX>662</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Not_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOldValue</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>strOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases_On_Opportunity_Won</name>
        <label>Update Cases On Opportunity Won</label>
        <locationX>909</locationX>
        <locationY>57</locationY>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>strQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_Of_Cases</name>
        <label>Update List Of Cases</label>
        <locationX>101</locationX>
        <locationY>554</locationY>
        <inputReference>lstCasesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Opp_Won_or_Un_Won</startElementReference>
    <variables>
        <name>lstCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstCasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>singleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>strNewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
