Aress7/src/flows/Case_Updates-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_variable_to_list</name>
        <label>Assign variable to list</label>
        <locationX>865</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>lstOppLineItems_ToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Opp_Line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Install_Cost_Cost</name>
        <label>Update Install Cost Cost</label>
        <locationX>693</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>OppLineItem.Install_Cost_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>crInstallCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>crInstallCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_variable_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_no_managed_product_is_added</name>
        <label>If no managed product is added</label>
        <locationX>1059</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Managed_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstOppProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opportunity</targetReference>
            </connector>
            <label>No Managed Product</label>
        </rules>
        <rules>
            <name>Managed_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstOppProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Opp_Line_items</targetReference>
            </connector>
            <label>Managed Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Install_Cost_is_not_Empty</name>
        <label>Install Cost is not Empty</label>
        <locationX>241</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Install_Cost_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>crInstallCost</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status</targetReference>
            </connector>
            <label>Install Cost not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Open_Task</name>
        <label>No Open Task</label>
        <locationX>592</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>Lookup_Product2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Task2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOpenTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Oppor</targetReference>
            </connector>
            <label>No Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Awaiting_Quote</name>
        <label>Status = Completed</label>
        <locationX>289</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_Awaiting_Quote2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Status = Completed</label>
        </rules>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>strStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Task</targetReference>
            </connector>
            <label>Status = Approved/Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_or_Flag</name>
        <label>Status or Cost</label>
        <locationX>72</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Awaiting_Quote</targetReference>
            </connector>
            <label>status</label>
        </rules>
        <rules>
            <name>Cost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Install_Cost_is_not_Empty</targetReference>
            </connector>
            <label>Cost</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_is_no_task</name>
        <label>There is no task</label>
        <locationX>828</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOpenTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Users_with_Install_manager_profile</targetReference>
            </connector>
            <label>No Task</label>
        </rules>
    </decisions>
    <interviewLabel>Case Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Updates</label>
    <loops>
        <name>Loop_All_Opp_Line_items</name>
        <label>Loop All Opp Line items</label>
        <locationX>767</locationX>
        <locationY>494</locationY>
        <assignNextValueToReference>OppLineItem</assignNextValueToReference>
        <collectionReference>lstOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Install_Cost_Cost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Line_Item</name>
        <label>Create Opp Line Item</label>
        <locationX>1069</locationX>
        <locationY>657</locationY>
        <inputAssignments>
            <field>Install_Cost_Quote__c</field>
            <value>
                <elementReference>crInstallCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>strPriceBookEntryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>crInstallCost</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task</name>
        <label>Create task</label>
        <locationX>1019</locationX>
        <locationY>175</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please quote customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>strUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Quote Job</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Oppor</name>
        <label>Create Task for Oppor</label>
        <locationX>590</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Lookup_Product2</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Discuss Installation with Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Open_Tasks</name>
        <label>Fetch Open Tasks</label>
        <locationX>413</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Open_Task</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discuss Installation with Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>ListOpenTasks</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Open_Tasks_for_case</name>
        <label>Fetch Open Tasks for case</label>
        <locationX>663</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_no_task</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote Job</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>ListOpenTasks</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>71</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_or_Flag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>crInstallCost</assignToReference>
            <field>Install_Cost_Quote__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOppID</assignToReference>
            <field>OpportunityID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>1063</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Product</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strPriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity_Products</name>
        <label>Lookup Opportunity Products</label>
        <locationX>893</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_no_managed_product_is_added</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strProductID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>lstOppProducts</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product</name>
        <label>Lookup Product Book Entry</label>
        <locationX>1062</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_Line_Item</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPriceBookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strProductID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>strPriceBookEntryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>crUnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product2</name>
        <label>Lookup Product</label>
        <locationX>743</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opportunity_Products</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed Installation</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>strProductID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Task</name>
        <label>Lookup Task</label>
        <locationX>442</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Task</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote Job</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>strTaskID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Users_with_Install_manager_profile</name>
        <label>Users with Install manager profile</label>
        <locationX>1015</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_task</targetReference>
        </connector>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e24000000JMlV</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>strUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Close_Task</name>
        <label>Close Task</label>
        <locationX>630</locationX>
        <locationY>195</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strTaskID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>526</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Fetch_Open_Tasks_for_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>247</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>Fetch_Open_Tasks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Customer Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Line_Items</name>
        <label>Update Opp Line Items</label>
        <locationX>521</locationX>
        <locationY>643</locationY>
        <inputReference>lstOppLineItems_ToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Case</startElementReference>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>crInstallCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>crUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Flag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>lstOppLineItems_ToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>lstOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
