Aress7/src/flows/Change_Opp_Stage_to_Closed_or_Invoiced-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invoiced</name>
        <choiceText>Invoiced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoiced</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_Competitor</name>
        <label>If Competitor</label>
        <locationX>557</locationX>
        <locationY>449</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Competitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost to Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compititor</targetReference>
            </connector>
            <label>Competitor</label>
        </rules>
        <rules>
            <name>Else</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost to Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Else</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Competitor_0</name>
        <label>If Competitor</label>
        <locationX>698</locationX>
        <locationY>163</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Competitor_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost to Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compititor_0</targetReference>
            </connector>
            <label>Competitor</label>
        </rules>
        <rules>
            <name>Else_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost to Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Stage</targetReference>
            </connector>
            <label>Else</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Competitor_1</name>
        <label>If Competitor</label>
        <locationX>271</locationX>
        <locationY>728</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Competitor_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Reason_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost to Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Compititor_1</targetReference>
            </connector>
            <label>Competitor</label>
        </rules>
        <rules>
            <name>Else_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost to Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_1</targetReference>
            </connector>
            <label>Else</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Stage_Closed</name>
        <label>If Stage = Closed</label>
        <locationX>340</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Closed_Reason_Page</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Not_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Invoiced</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Stage_Closed_1</name>
        <label>If Stage = Closed</label>
        <locationX>62</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Stage_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Closed_Reason_Page_1</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Not_Closed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Stage_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Invoiced</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_1</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Stage</name>
        <label>Opp Stage</label>
        <locationX>316</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Closed_Reason_Page_0</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Else2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Stage</targetReference>
            </connector>
            <label>Else</label>
        </rules>
        <rules>
            <name>Invoiced2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoiced_only_by_finance_minister</targetReference>
            </connector>
            <label>Invoiced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile</name>
        <label>Profile</label>
        <locationX>114</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>Stage_Selection_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>System_Admins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Admin</targetReference>
            </connector>
            <label>System Admins</label>
        </rules>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Selection_Page_1</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClosedReasonOpp</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Closing_picklist__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppCompetitor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lost_to_Competitor__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>frProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>Change Opp Stage to Closed or Invoiced {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Opp Stage to Closed or Invoiced</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>553</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Success_Page</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost_to_Competitor__c</field>
            <value>
                <elementReference>Choose_Competitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing_picklist__c</field>
            <value>
                <elementReference>Closed_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Choose_Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_1</name>
        <label>Update Opp</label>
        <locationX>268</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Success_Page_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost_to_Competitor__c</field>
            <value>
                <elementReference>Choose_Competitor_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing_picklist__c</field>
            <value>
                <elementReference>Closed_Reason_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Choose_Stage_1</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Stage</name>
        <label>Update Opp Stage</label>
        <locationX>696</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Success_Page_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost_to_Competitor__c</field>
            <value>
                <elementReference>Choose_Competitor_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing__c</field>
            <value>
                <elementReference>Closed_Reason_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>OppStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Enter_Closed_Reason_Page</name>
        <label>Enter Closed Reason Page</label>
        <locationX>346</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Competitor</targetReference>
        </connector>
        <fields>
            <name>Closed_Reason</name>
            <choiceReferences>ClosedReasonOpp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Closed Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Enter_Closed_Reason_Page_0</name>
        <label>Enter Closed Reason Page</label>
        <locationX>524</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Competitor_0</targetReference>
        </connector>
        <fields>
            <name>Closed_Reason_0</name>
            <choiceReferences>ClosedReasonOpp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Closed Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Enter_Closed_Reason_Page_1</name>
        <label>Enter Closed Reason Page</label>
        <locationX>63</locationX>
        <locationY>721</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Competitor_1</targetReference>
        </connector>
        <fields>
            <name>Closed_Reason_1</name>
            <choiceReferences>ClosedReasonOpp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Closed Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Invoiced_only_by_finance_minister</name>
        <label>Invoiced only by finance minister</label>
        <locationX>495</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message2</name>
            <fieldText>Only Finance Minister can change the status to Invoiced.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Stage_Selection_Page</name>
        <label>Stage Selection Page</label>
        <locationX>188</locationX>
        <locationY>308</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Stage_Closed</targetReference>
        </connector>
        <fields>
            <name>Choose_Stage</name>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Stage_Selection_Page_1</name>
        <label>Stage Selection Page</label>
        <locationX>51</locationX>
        <locationY>400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Stage_Closed_1</targetReference>
        </connector>
        <fields>
            <name>Choose_Stage_1</name>
            <choiceReferences>Closed</choiceReferences>
            <choiceReferences>Invoiced</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Success_Page</name>
        <label>Success Page</label>
        <locationX>749</locationX>
        <locationY>324</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>The Opp is successfully changed to {!Choose_Stage}. Please close the window by clicking on Cross on top right.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_Page_0</name>
        <label>Success Page</label>
        <locationX>896</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_0</name>
            <fieldText>The Opp is successfully changed to {!Choose_Stage}. Please close the window by clicking on Cross on top right.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_Page_1</name>
        <label>Success Page</label>
        <locationX>469</locationX>
        <locationY>594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_1</name>
            <fieldText>The Opp is successfully changed to {!Choose_Stage}. Please close the window by clicking on Cross on top right.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>System_Admin</name>
        <label>System Admin</label>
        <locationX>319</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
        <fields>
            <name>Choose_Stage_2</name>
            <choiceReferences>OppStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Update_Compititor</name>
        <label>Update Compititor</label>
        <locationX>756</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <fields>
            <name>Choose_Competitor</name>
            <choiceReferences>OppCompetitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Competitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Update_Compititor_0</name>
        <label>Update Compititor</label>
        <locationX>877</locationX>
        <locationY>161</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp_Stage</targetReference>
        </connector>
        <fields>
            <name>Choose_Competitor_0</name>
            <choiceReferences>OppCompetitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Competitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Update_Compititor_1</name>
        <label>Update Compititor</label>
        <locationX>476</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp_1</targetReference>
        </connector>
        <fields>
            <name>Choose_Competitor_1</name>
            <choiceReferences>OppCompetitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Competitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Profile</startElementReference>
    <variables>
        <name>strOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
