Aress7/src/flows/Change_Opp_to_ready_to_invoice-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_hasManagedInstallProduct_to_True</name>
        <label>Set hasManagedInstallProduct to True</label>
        <locationX>351</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>hasManagedInstallProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_all_line_items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DataMIS1Year</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Data &amp; MIS (1 Year)</stringValue>
        </value>
    </constants>
    <constants>
        <name>DataMIS3Years</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Data &amp; MIS (3 Years)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>check_for_managed_install_Product</name>
        <label>check for managed install Product</label>
        <locationX>542</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Look_all_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Managed_Install_Product_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mngd_Inst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLineItem.ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commission_Inst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLineItem.ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Array_Inst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_hasManagedInstallProduct_to_True</targetReference>
            </connector>
            <label>If Managed Install Product exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Containts_Specific_Product</name>
        <label>If Containts Specific Product</label>
        <locationX>756</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Payment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_Manage_Install_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasManagedInstallProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Contains Manage Install Product</label>
        </rules>
    </decisions>
    <formulas>
        <name>IncrementAmount</name>
        <dataType>Number</dataType>
        <expression>{!AdvanceAmount} + {!QuoteLineItem.TotalPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Change Opp to  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Opp to ready to invoice</label>
    <loops>
        <name>Look_all_line_items</name>
        <label>Look all line items</label>
        <locationX>538</locationX>
        <locationY>222</locationY>
        <assignNextValueToReference>QuoteLineItem</assignNextValueToReference>
        <collectionReference>ListQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_managed_install_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Containts_Specific_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Quote_Line_Items</name>
        <label>Lookup Quote Line Items</label>
        <locationX>534</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_all_line_items</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>ListQuoteLineItems</outputReference>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>ProductCode__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>972</locationX>
        <locationY>89</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>curSubTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Only__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Install Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Payment_Type</name>
        <label>Update Opportunity Payment Type</label>
        <locationX>963</locationX>
        <locationY>340</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>curSubTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Quote_Line_Items</startElementReference>
    <variables>
        <name>AdvanceAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>blInstallOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContaintsSpecificProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curSubTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EachSurveyCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>hasManagedInstallProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>listSurveyCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListSurveyCasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>opportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
