Aress7/src/flows/Change_Opp_to_ready_to_invoice-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_list_to_update</name>
        <label>Add to list to update</label>
        <locationX>751</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>ListSurveyCasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachSurveyCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>1025</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>EachSurveyCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved by Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contacts_Specifc_Product</name>
        <label>Contacts Specifc Product</label>
        <locationX>1342</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>ContaintsSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_all_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Name</name>
        <label>Product Name</label>
        <locationX>1069</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Install_Product_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Intsall_Only_Flag_False</name>
        <label>Set Intsall Only Flag False</label>
        <locationX>1532</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>blInstallOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Contacts_Specific_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specifc_Product_to_false</name>
        <label>Set Specifc Product to false</label>
        <locationX>283</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>ContaintsSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blInstallOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DataMIS1Year</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Data &amp; MIS (1 Year)</stringValue>
        </value>
    </constants>
    <constants>
        <name>DataMIS3Years</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Data &amp; MIS (3 Years)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>If_Contacts_Specific_Product</name>
        <label>If Contacts Specific Product</label>
        <locationX>1334</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Look_all_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Specific_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_Specifc_Product</targetReference>
            </connector>
            <label>If Specific Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Containts_Specific_Product</name>
        <label>If Containts Specific Product</label>
        <locationX>755</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_Specific_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContaintsSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Contains Specific Product</label>
        </rules>
        <rules>
            <name>doesnotContains_Specific_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContaintsSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Payment_Type</targetReference>
            </connector>
            <label>Does not Contain Specific Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_is_not_closed</name>
        <label>If Status is not closed</label>
        <locationX>1017</locationX>
        <locationY>685</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_status_is_not_closed_yet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EachSurveyCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachSurveyCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachSurveyCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status</targetReference>
            </connector>
            <label>If status is not closed yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Install_Product_Only</name>
        <label>Install Product Only</label>
        <locationX>1327</locationX>
        <locationY>20</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Install_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLineItem.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Contacts_Specific_Product</targetReference>
            </connector>
            <label>Install Product</label>
        </rules>
        <rules>
            <name>Not_Install_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Installs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Intsall_Only_Flag_False</targetReference>
            </connector>
            <label>Not Install Product</label>
        </rules>
    </decisions>
    <formulas>
        <name>IncrementAmount</name>
        <dataType>Number</dataType>
        <expression>{!AdvanceAmount} + {!QuoteLineItem.TotalPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Change Opp to  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Opp to ready to invoice</label>
    <loops>
        <name>Look_all_line_items</name>
        <label>Look all line items</label>
        <locationX>750</locationX>
        <locationY>81</locationY>
        <assignNextValueToReference>QuoteLineItem</assignNextValueToReference>
        <collectionReference>ListQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Containts_Specific_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_cases</name>
        <label>Loop all cases</label>
        <locationX>752</locationX>
        <locationY>670</locationY>
        <assignNextValueToReference>EachSurveyCase</assignNextValueToReference>
        <collectionReference>listSurveyCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Status_is_not_closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_Cases</name>
        <label>Lookup all Cases</label>
        <locationX>756</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_cases</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survey</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>listSurveyCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote</name>
        <label>Lookup Quote</label>
        <locationX>65</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Specifc_Product_to_false</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityID</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>curSubTotal</assignToReference>
            <field>Subtotal</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote_Line_Items</name>
        <label>Lookup Quote Line Items</label>
        <locationX>520</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_all_line_items</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>ListQuoteLineItems</outputReference>
        <queriedFields>Product_Family__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_status</name>
        <label>Update all status</label>
        <locationX>505</locationX>
        <locationY>814</locationY>
        <inputReference>ListSurveyCasesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>516</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Lookup_all_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>curSubTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Only__c</field>
            <value>
                <elementReference>blInstallOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Payment_Type</name>
        <label>Update Opportunity Payment Type</label>
        <locationX>965</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Lookup_all_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>curSubTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Only__c</field>
            <value>
                <elementReference>blInstallOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_to_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Quote</startElementReference>
    <variables>
        <name>AdvanceAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>blInstallOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContaintsSpecificProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curSubTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EachSurveyCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>listSurveyCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListSurveyCasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>opportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
