Aress7/src/flows/Clone_Contact_Roles_to_Child_Opp-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>675</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>listContactRolesCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>483</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>ContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleContactRole.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleContactRole.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Clone Contact Roles to Child Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Contact Roles to Child Opp</label>
    <loops>
        <name>Loop_through_records</name>
        <label>Loop through records</label>
        <locationX>480</locationX>
        <locationY>138</locationY>
        <assignNextValueToReference>singleContactRole</assignNextValueToReference>
        <collectionReference>listContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Roles</name>
        <label>Create Contact Roles</label>
        <locationX>707</locationX>
        <locationY>142</locationY>
        <inputReference>listContactRolesCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opp_Contact_Roles</name>
        <label>Lookup Opp Contact Roles</label>
        <locationX>315</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strParentOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>listContactRoles</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Role</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Opp</name>
        <label>Lookup Parent Opp</label>
        <locationX>139</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opp_Contact_Roles</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strParentOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Parent_Opp</startElementReference>
    <variables>
        <name>ContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>listContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>listContactRolesCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>singleContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strParentOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPhaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
