Aress7/src/flows/Clone_Commercial_Opportinity-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>1051</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>lstProductsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>1027</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>newOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strCreatedOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleProduct.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleProduct.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleProduct.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Commercial_Record_Type</name>
        <label>Decision for Commercial Record Type</label>
        <locationX>261</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Look_Up_All_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUp_Primary_Contact</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Commercial_Record_Type_0</name>
        <label>Decision for Commercial Record Type</label>
        <locationX>44</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Commercial_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
        <rules>
            <name>Bid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_0</targetReference>
            </connector>
            <label>Bid</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreateOppotunityName</name>
        <dataType>String</dataType>
        <expression>{!strOppName} + &apos; (Clone)&apos;</expression>
    </formulas>
    <interviewLabel>Clone Commercial Opportinity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Commercial Opportinity</label>
    <loops>
        <name>Loop_on_Products</name>
        <label>Loop on Products</label>
        <locationX>837</locationX>
        <locationY>168</locationY>
        <assignNextValueToReference>singleProduct</assignNextValueToReference>
        <collectionReference>lstOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_List_Of_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_List_Of_Products</name>
        <label>Create List Of Products</label>
        <locationX>853</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Complete_Screen</targetReference>
        </connector>
        <inputReference>lstProductsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>48</locationX>
        <locationY>369</locationY>
        <assignRecordIdToReference>strCreatedOppID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Commercial_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>strBillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country_Picklist__c</field>
            <value>
                <elementReference>strBillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>strBillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>strBillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>strBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>dtCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreateOppotunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <elementReference>strPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>strShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country_Picklist__c</field>
            <value>
                <elementReference>strShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Postal_Code__c</field>
            <value>
                <elementReference>strShippingPostalcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>strShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>strBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_0</name>
        <label>Create Opportunity</label>
        <locationX>334</locationX>
        <locationY>366</locationY>
        <assignRecordIdToReference>strCreatedOppID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Commercial_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>strBillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country_Picklist__c</field>
            <value>
                <elementReference>strBillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>strBillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>strBillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>strBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>dtCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreateOppotunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <elementReference>strPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>strShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country_Picklist__c</field>
            <value>
                <elementReference>strShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Postal_Code__c</field>
            <value>
                <elementReference>strShippingPostalcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>strShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>strBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Consultancy - Bid</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Contact</name>
        <label>Create Opportunity Contact</label>
        <locationX>685</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Look_Up_All_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>strContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>strCreatedOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>strContactRole</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_All_Products</name>
        <label>Look Up All Products</label>
        <locationX>512</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>lstOppProducts</outputReference>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Opportunity</name>
        <label>LookUp Opportunity</label>
        <locationX>36</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookUp_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingCity</assignToReference>
            <field>Billing_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingCountry</assignToReference>
            <field>Billing_Country_Picklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingPostalCode</assignToReference>
            <field>Billing_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingState</assignToReference>
            <field>Billing_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBillingStreet</assignToReference>
            <field>Billing_Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>dtCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strPhase</assignToReference>
            <field>Phase__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCity</assignToReference>
            <field>Shipping_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCountry</assignToReference>
            <field>Shipping_Country_Picklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingPostalcode</assignToReference>
            <field>Shipping_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingStreet</assignToReference>
            <field>Shipping_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingState</assignToReference>
            <field>Shipping_Street__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Primary_Contact</name>
        <label>LookUp Primary Contact</label>
        <locationX>513</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Contact</targetReference>
        </connector>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>strContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactRole</assignToReference>
            <field>Role</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_Record_Type</name>
        <label>LookUp Record Type</label>
        <locationX>42</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Commercial_Record_Type_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Complete_Screen</name>
        <label>Complete Screen</label>
        <locationX>855</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>strMessage</name>
            <fieldText>The Opportunity {!strOppName} has been successfully cloned.

&lt;a href=&quot;https://pod-point--devsprint5.cs88.my.salesforce.com/apex/customoppdtail?id={!strCreatedOppID}&quot;&gt;Click here&lt;/a&gt; to go to the cloned opportunity</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>LookUp_Opportunity</startElementReference>
    <variables>
        <name>dtCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>lstProductsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>newOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>singleProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strCommercialRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strCreatedOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPhase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingPostalcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
