Aress7/src/flows/Close_HomeCharge_and_HomeChargeNorway_Cases-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>994</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>lstCasesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_0</name>
        <label>Add to List</label>
        <locationX>1024</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>lstCasesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_1</name>
        <label>Add to List</label>
        <locationX>468</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>lstCasesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_2</name>
        <label>Add to List</label>
        <locationX>1693</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>lstCasesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>1007</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>singleCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_0</name>
        <label>Assign Status</label>
        <locationX>806</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>singleCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_1</name>
        <label>Assign Status</label>
        <locationX>244</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>singleCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Close_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_2</name>
        <label>Assign Status</label>
        <locationX>1704</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>singleCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>124</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Home_Charge_Norway_Record_Type_1</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
        <rules>
            <name>Home_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Record_Type_home_Charge</targetReference>
            </connector>
            <label>Home Charge</label>
        </rules>
        <rules>
            <name>Home_Charge_Norway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Charge Norway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Home_Charge_Norway_Record_Type</targetReference>
            </connector>
            <label>Home Charge Norway</label>
        </rules>
    </decisions>
    <interviewLabel>Close HomeCharge and HomeChargeNorway Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close HomeCharge and HomeChargeNorway Cases</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop Records</label>
        <locationX>812</locationX>
        <locationY>107</locationY>
        <assignNextValueToReference>singleCase</assignNextValueToReference>
        <collectionReference>lstCasesHomeCharge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Record_Type_home_Charge_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Records_0</name>
        <label>Loop Records</label>
        <locationX>917</locationX>
        <locationY>491</locationY>
        <assignNextValueToReference>singleCase</assignNextValueToReference>
        <collectionReference>lstHomeChargeNorway</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Records_1</name>
        <label>Loop Records</label>
        <locationX>358</locationX>
        <locationY>598</locationY>
        <assignNextValueToReference>singleCase</assignNextValueToReference>
        <collectionReference>lstSupportCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Records_2</name>
        <label>Loop Records</label>
        <locationX>1516</locationX>
        <locationY>100</locationY>
        <assignNextValueToReference>singleCase</assignNextValueToReference>
        <collectionReference>lstCasesDomestic</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Home_Charge_Norway</name>
        <label>Lookup Home Charge Norway</label>
        <locationX>920</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Records_0</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strHomeChargeNorwayRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstHomeChargeNorway</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Home_Charge_Norway_Record_Type</name>
        <label>Lookup Home Charge Norway Record Type</label>
        <locationX>495</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Home_Charge_Norway</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homecharge Norway</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strHomeChargeNorwayRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Home_Charge_Norway_Record_Type_1</name>
        <label>Lookup Support Case</label>
        <locationX>140</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Homecharge_1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contractor Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strSupportCaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Homecharge</name>
        <label>Lookup Homecharge</label>
        <locationX>621</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strHomeChargeRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstCasesHomeCharge</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Homecharge_1</name>
        <label>Lookup Support Cases</label>
        <locationX>359</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Records_1</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strSupportCaseRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstSupportCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Homecharge_2</name>
        <label>Lookup Domestic cases</label>
        <locationX>1333</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Records_2</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strDomesticCaseRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstCasesDomestic</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_home_Charge</name>
        <label>Lookup Record Type Home Charge</label>
        <locationX>384</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Homecharge</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homecharge Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strHomeChargeRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_home_Charge_2</name>
        <label>Lookup Record Type Home Charge</label>
        <locationX>1159</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Homecharge_2</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic Survey Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strDomesticCaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases_1</name>
        <label>Update Cases</label>
        <locationX>1420</locationX>
        <locationY>481</locationY>
        <inputReference>lstCasesUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Check_Record_Type</startElementReference>
    <variables>
        <name>lstCasesDomestic</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstCasesHomeCharge</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstCasesUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstHomeChargeNorway</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstSupportCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>singleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>strDomesticCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strHomeChargeNorwayRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strHomeChargeRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSupportCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
