Aress7/src/flows/Close_Open_Task_once_Order_Address_is_Verified-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Task_to_List</name>
        <label>Add Task to List</label>
        <locationX>1138</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>ListTask_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status_field</name>
        <label>Update status field</label>
        <locationX>1166</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>eachTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_List</targetReference>
        </connector>
    </assignments>
    <description>Close the tasks on case when order address is verified.</description>
    <formulas>
        <name>frOppID</name>
        <dataType>String</dataType>
        <expression>LEFT({!strOppID},15)</expression>
    </formulas>
    <interviewLabel>Close Open Task once Order Address is Verified {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Open Task once Order Address is Verified</label>
    <loops>
        <name>Look_Task</name>
        <label>Look Task</label>
        <locationX>913</locationX>
        <locationY>44</locationY>
        <assignNextValueToReference>eachTask</assignNextValueToReference>
        <collectionReference>ListTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_status_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_cases</name>
        <label>Loop cases</label>
        <locationX>487</locationX>
        <locationY>45</locationY>
        <assignNextValueToReference>eachCase</assignNextValueToReference>
        <collectionReference>ListCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Look_up_tasks</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_tasks</name>
        <label>Look up tasks</label>
        <locationX>731</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Task</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachCase.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>ListTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Install_Case_Linked_to_Opp</name>
        <label>Lookup Install Case Linked to Opp</label>
        <locationX>318</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_cases</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>frOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Install</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Order</name>
        <label>Lookup Order</label>
        <locationX>123</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Install_Case_Linked_to_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOppID</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>738</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Loop_cases</targetReference>
        </connector>
        <inputReference>ListTask_Update</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Order</startElementReference>
    <variables>
        <name>eachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>eachTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ListCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ListTask_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ListTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
