Aress7/src/flows/Close_all_open_tasks_once_Opportunity_is_Won-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Task_to_List</name>
        <label>Add Task to List</label>
        <locationX>1138</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>ListTask_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status_field</name>
        <label>Update status field</label>
        <locationX>1166</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>eachTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Close all open tasks once Opportunity is Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close all open tasks once Opportunity is Won</label>
    <loops>
        <name>Look_Task</name>
        <label>Look Task</label>
        <locationX>913</locationX>
        <locationY>44</locationY>
        <assignNextValueToReference>eachTask</assignNextValueToReference>
        <collectionReference>ListTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_status_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_tasks</name>
        <label>Look up tasks</label>
        <locationX>695</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Task</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>ListTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>738</locationX>
        <locationY>253</locationY>
        <inputReference>ListTask_Update</inputReference>
    </recordUpdates>
    <startElementReference>Look_up_tasks</startElementReference>
    <variables>
        <name>eachTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ListTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ListTask_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ListTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
