Aress7/src/flows/Copy_Address_on_Quote_from_Primary_Contacts-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Opp_Contact_Role</name>
        <label>Opp Contact Role</label>
        <locationX>590</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strCommercialContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Contact Role</label>
        </rules>
        <rules>
            <name>Has_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strCommercialContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Primary_Contact_Person_Account</targetReference>
            </connector>
            <label>Has Contact Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Account_is_Contact_or_Person_Account</name>
        <label>Primary Account is Contact or Person Account</label>
        <locationX>831</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Commercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>not_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_Address_Commercial</targetReference>
            </connector>
            <label>Not Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type2</name>
        <label>Record Type</label>
        <locationX>39</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_Address</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
        <rules>
            <name>Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_Role</targetReference>
            </connector>
            <label>Bid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_is_not_blank</name>
        <label>Survey is not blank</label>
        <locationX>395</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strSurveyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Commercial_survey</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
        <rules>
            <name>blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strSurveyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_Role_Commercial</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <interviewLabel>Copy Address on Quote from Primary Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Address on Quote from Primary Contacts</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Account_Address</name>
        <label>Lookup Account Address</label>
        <locationX>39</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Survey</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>strAccountCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strAccountCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strAccountPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strAccountStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>467</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strContactID_BidOpportunity</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>strMailingCityBidCompany</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingCountryBidCompany</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingPostalCodeBidCompany</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingStateBidCompany</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingStreetBidCompany</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_contact_address</name>
        <label>Lookup contact address</label>
        <locationX>1024</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strContactID_ParentOpp</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>strMailingCityPhaseCompany</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingCountryPhaseCompany</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingPostalCodePhaseCompany</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingStatePhaseCompany</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strMailingStreetPhaseCompany</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_Address_Commercial</name>
        <label>Lookup Contact Address</label>
        <locationX>822</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote_Commercial</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCommercialContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>strContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingPostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_Role</name>
        <label>Lookup Contacct Role</label>
        <locationX>282</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>strContactID_BidOpportunity</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_Role_Commercial</name>
        <label>Lookup Contact Role</label>
        <locationX>401</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Contact_Role</targetReference>
        </connector>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>strCommercialContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_Roles</name>
        <label>Lookup Contact Roles</label>
        <locationX>1021</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_contact_address</targetReference>
        </connector>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strParentOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>strContactID_ParentOpp</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>35</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strPhaseID</assignToReference>
            <field>Phase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Opp</name>
        <label>Lookup Parent Opp</label>
        <locationX>839</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contact_Roles</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strParentOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Primary_Contact_Person_Account</name>
        <label>Lookup Primary Contact (Person Account)</label>
        <locationX>591</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Account_is_Contact_or_Person_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCommercialContactID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>strContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingCity</assignToReference>
            <field>PersonMailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingCountry</assignToReference>
            <field>PersonMailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingPostalCode</assignToReference>
            <field>PersonMailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strContactMailingStreet</assignToReference>
            <field>PersonMailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Survey</name>
        <label>Lookup Survey</label>
        <locationX>222</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_is_not_blank</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survey</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>strSurveyCity</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strSuveyCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strSurveyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strSuveyPostalCode</assignToReference>
            <field>PostalCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strSurveyStreet</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
        <sortField>Scheduled_On__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>record_Type</name>
        <label>Get Project Record Type</label>
        <locationX>653</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Parent_Opp</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>840</locationX>
        <locationY>180</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strQuote</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>strMailingCityBidCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>strMailingCountryBidCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>strMailingPostalCodeBidCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>strMailingStateBidCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>strMailingStreetBidCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>strMailingCityPhaseCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>strMailingCountryPhaseCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>strMailingPostalCodePhaseCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>strMailingStatePhaseCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>strMailingStreetPhaseCompany</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Commercial</name>
        <label>Update Quote Commercial</label>
        <locationX>1015</locationX>
        <locationY>371</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strQuote</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>strAccountCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>strAccountCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>strAccountPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>strAccountStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>strContactMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>strContactMailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>strContactMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>strContactMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Commercial_survey</name>
        <label>Update Quote Commercial</label>
        <locationX>606</locationX>
        <locationY>256</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strQuote</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>strAccountCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>strAccountCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>strAccountPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>strAccountStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>strSurveyCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>strSuveyCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>strSuveyPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>strSurveyStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <startElementReference>Lookup_Opportunity</startElementReference>
    <variables>
        <name>strAccountCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAccountCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAccountPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAccountStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strCommercialContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactID_BidOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactID_ParentOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactMailingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactMailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactMailingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactMailingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingCityBidCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingCityPhaseCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingCountryBidCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingCountryPhaseCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingPostalCodeBidCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingPostalCodePhaseCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingStateBidCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingStatePhaseCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingStreetBidCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMailingStreetPhaseCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strParentOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPhaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSurveyCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSurveyStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSuveyCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSuveyPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
