Aress7/src/flows/Create_or_Delete_OLEV_Discount_Product-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>740</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>ListOlevProductsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeleteQuoteLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CounterSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list2</name>
        <label>Add to list</label>
        <locationX>963</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>listQuoteLineItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_through_quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_lIne_items</name>
        <label>Assign Quote lIne items</label>
        <locationX>783</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>QuoteCreate.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strPriceBookEntryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCreate.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strProductID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCreate.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalSockets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCreate.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-300.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCreate.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterSet</name>
        <label>Counter</label>
        <locationX>935</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_through_quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Total_Sockets</name>
        <label>Reset Total Sockets</label>
        <locationX>66</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>TotalSockets</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_all_Quote_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuoteLineItems</name>
        <label>Set QuoteLineItems</label>
        <locationX>591</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>DeleteQuoteLineItems.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strQuoteLineItemID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Sockets</name>
        <label>Total Sockets</label>
        <locationX>467</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>TotalSockets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frTotalSockets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_all_Quote_Products</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Null</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>List_is_empty</name>
        <label>List is empty</label>
        <locationX>840</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Olev_Products</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLEV</name>
        <label>OLEV</label>
        <locationX>711</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_all_Olev_Products</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_is_empty</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLEV_Product</name>
        <label>OLEV Product</label>
        <locationX>408</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_through_quotes</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_QuoteLineItems</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLEV_Product2</name>
        <label>OLEV Product</label>
        <locationX>241</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Total_Sockets</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_through_quotes</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Exists</name>
        <label>Product Exists</label>
        <locationX>152</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>OLEV_Product2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strQuoteLineItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OLEV_Product</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_is_not_zero</name>
        <label>Quantity is not zero</label>
        <locationX>566</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Look_through_quotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalSockets</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Product</targetReference>
            </connector>
            <label>Not Zero</label>
        </rules>
    </decisions>
    <formulas>
        <name>frTotalSockets</name>
        <dataType>Number</dataType>
        <expression>{!oneQuoteLineItem.Total_No_of_Socket__c} + {!TotalSockets}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create or Delete OLEV Discount Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or Delete OLEV Discount Product</label>
    <loops>
        <name>Look_through_quotes</name>
        <label>Look through quotes</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>singleQuote</assignNextValueToReference>
        <collectionReference>listQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Quote_Products2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OLEV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>241</locationX>
        <locationY>760</locationY>
        <assignNextValueToReference>oneQuoteLineItem</assignNextValueToReference>
        <collectionReference>ListAllQuoteProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Sockets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quantity_is_not_zero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_all_Olev_Products</name>
        <label>Create all Olev Products</label>
        <locationX>1057</locationX>
        <locationY>241</locationY>
        <inputReference>listQuoteLineItemsCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Olev_Products</name>
        <label>Delete Olev Products</label>
        <locationX>1023</locationX>
        <locationY>54</locationY>
        <inputReference>ListOlevProductsDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_all_Quote_Products</name>
        <label>Lookup all Quote Products</label>
        <locationX>243</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleQuote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>ListAllQuoteProducts</outputReference>
        <queriedFields>Total_No_of_Socket__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_All_Quotes</name>
        <label>Lookup All Quotes</label>
        <locationX>228</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_through_quotes</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>listQuotes</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>57</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_All_Quotes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strPriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>blOlev</assignToReference>
            <field>Workplace_Grant__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Price_book_entry</name>
        <label>Lookup Price book entry</label>
        <locationX>606</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_lIne_items</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPriceBookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strProductID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>strPriceBookEntryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product</name>
        <label>Lookup Product</label>
        <locationX>434</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Price_book_entry</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OLEV Workplace Grant Discount</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>strProductID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote_Products2</name>
        <label>Lookup Quote Products</label>
        <locationX>233</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Exists</targetReference>
        </connector>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OLEV Workplace Grant Discount</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleQuote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputAssignments>
            <assignToReference>strQuoteLineItemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strProductID</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>blOlev</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DeleteQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ListAllQuoteProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ListOlevProductsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ListQuoteLineItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listQuoteLineItemsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>listQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>oneQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>singleQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQuoteLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalSockets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
