Aress7/src/flows/Create_Install_Case_v2-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Survey_exists</name>
        <label>Survey exists</label>
        <locationX>291</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Lookup_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Survey_Exists2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strSurveyCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_Roles</targetReference>
            </connector>
            <label>Survey Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>frSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Install Job - &apos; + {!strOppName}</expression>
    </formulas>
    <interviewLabel>Create Install Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Install Case v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Install_Case</name>
        <label>Create Install Case</label>
        <locationX>895</locationX>
        <locationY>129</locationY>
        <assignRecordIdToReference>strCaseID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Category__c</field>
            <value>
                <stringValue>Homecharge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>strCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>strContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Picklist__c</field>
            <value>
                <elementReference>strCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Cost_Quote_2__c</field>
            <value>
                <elementReference>InstallCostQuote2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Cost_Quote__c</field>
            <value>
                <elementReference>InstallCostQuote1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Hours_2__c</field>
            <value>
                <elementReference>InstallHours2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Install_Hours__c</field>
            <value>
                <elementReference>InstallHours1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityID__c</field>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>strOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>strPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Work__c</field>
            <value>
                <elementReference>strScopeofWork1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works_2__c</field>
            <value>
                <elementReference>strScopeofWork2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>strStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>frSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Install</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>97</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Survey</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>strAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_Roles</name>
        <label>Lookup Contact Roles</label>
        <locationX>491</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>strContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>100</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strCity</assignToReference>
            <field>Shipping_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strCountry</assignToReference>
            <field>Shipping_Country_Picklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strPostalCode</assignToReference>
            <field>Shipping_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strStreet</assignToReference>
            <field>Shipping_Street__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote</name>
        <label>Lookup Quote</label>
        <locationX>515</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>strCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Survey</name>
        <label>Lookup Survey</label>
        <locationX>293</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_exists</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survey</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>strCity</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strCountry</assignToReference>
            <field>Country_Picklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strSurveyCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InstallCostQuote2</assignToReference>
            <field>Install_Cost_Quote_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InstallCostQuote1</assignToReference>
            <field>Install_Cost_Quote__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InstallHours2</assignToReference>
            <field>Install_Hours_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InstallHours1</assignToReference>
            <field>Install_Hours__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strPostalCode</assignToReference>
            <field>PostalCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strScopeofWork1</assignToReference>
            <field>Scope_of_Work__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strScopeofWork2</assignToReference>
            <field>Scope_of_Works_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strStreet</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>678</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Install_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Install_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>InstallCostQuote1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InstallCostQuote2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InstallHours1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InstallHours2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strScopeofWork1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strScopeofWork2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSurveyCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
