Aress7/src/flows/Create_or_Delete_OLEV_Discount_Product-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>519</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>lstQuoteToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_through_quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Total_Sockets</name>
        <label>Reset Total Sockets</label>
        <locationX>103</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>TotalSockets</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_all_Quote_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Place</name>
        <label>Set Work Place</label>
        <locationX>523</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>singleQuote.Workplace_Grant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frWorkplaceAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Place_0</name>
        <label>Set Work Place</label>
        <locationX>707</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>singleQuote.Workplace_Grant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Sockets</name>
        <label>Total Sockets</label>
        <locationX>285</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>TotalSockets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frTotalSockets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Null</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>OLEV</name>
        <label>OLEV</label>
        <locationX>532</locationX>
        <locationY>454</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Place</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blOlev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Place_0</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <formulas>
        <name>frTotalSockets</name>
        <dataType>Number</dataType>
        <expression>{!oneQuoteLineItem.Total_No_of_Socket__c} + {!TotalSockets}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frWorkplaceAmount</name>
        <dataType>Currency</dataType>
        <expression>{!TotalSockets}*(-300)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create or Delete OLEV Discount Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or Delete OLEV Discount Product</label>
    <loops>
        <name>Look_through_quotes</name>
        <label>Look through quotes</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>singleQuote</assignNextValueToReference>
        <collectionReference>listQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Total_Sockets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>292</locationX>
        <locationY>457</locationY>
        <assignNextValueToReference>oneQuoteLineItem</assignNextValueToReference>
        <collectionReference>ListAllQuoteProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Sockets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OLEV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_Quote_Products</name>
        <label>Lookup all Quote Products</label>
        <locationX>111</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleQuote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>ListAllQuoteProducts</outputReference>
        <queriedFields>Total_No_of_Socket__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_All_Quotes</name>
        <label>Lookup All Quotes</label>
        <locationX>247</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_through_quotes</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>listQuotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Workplace_Grant__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>57</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_All_Quotes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strPriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>blOlev</assignToReference>
            <field>Workplace_Grant__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quotes</name>
        <label>Update Quotes</label>
        <locationX>684</locationX>
        <locationY>138</locationY>
        <inputReference>lstQuoteToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>blOlev</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DeleteQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ListAllQuoteProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ListOlevProductsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ListQuoteLineItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listQuoteLineItemsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>listQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>lstQuoteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>oneQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>singleQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQuoteLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalSockets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
