Aress7/src/flows/Create_Contract_from_MIS_task-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Contract_Term</name>
        <label>Set Contract Term</label>
        <locationX>607</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frContractTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_month</name>
        <label>1 month</label>
        <locationX>119</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>countMonthOne</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>socketsOneMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frSocketNumbersOneMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Year</name>
        <label>1 Year</label>
        <locationX>396</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>countOneYear</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>socketsOneYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frCountSocketsOneYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3_Year</name>
        <label>3 Year</label>
        <locationX>591</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>countThreeYear</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>socketsThreeYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frCountSocketsThreeYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DataMIS</name>
        <label>Data &amp; MIS</label>
        <locationX>339</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Data_MIS_1_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleOppLineItem.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS (1 month)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_month</targetReference>
            </connector>
            <label>Data &amp; MIS (1 month)</label>
        </rules>
        <rules>
            <name>Data_MIS_1_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleOppLineItem.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS (1 year)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Year</targetReference>
            </connector>
            <label>Data &amp; MIS (1 year)</label>
        </rules>
        <rules>
            <name>Data_MIS_3_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleOppLineItem.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS (3 year)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Year</targetReference>
            </connector>
            <label>Data &amp; MIS (3 year)</label>
        </rules>
    </decisions>
    <formulas>
        <name>frContractTerm</name>
        <dataType>Number</dataType>
        <expression>({!countMonthOne} / {!socketsOneMonth})* 1 + 
({!countOneYear} / {!socketsOneYear}) * 12 + 
({!countThreeYear} / {!socketsThreeYear}) *36</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frCountSocketsOneYear</name>
        <dataType>Number</dataType>
        <expression>{!socketsOneYear} + {!singleOppLineItem.Sockets__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frCountSocketsThreeYear</name>
        <dataType>Number</dataType>
        <expression>{!socketsThreeYear} +{!singleOppLineItem.Sockets__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frSocketNumbersOneMonth</name>
        <dataType>Number</dataType>
        <expression>{!socketsOneMonth} + {!singleOppLineItem.Sockets__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Contract from MIS task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract from MIS task</label>
    <loops>
        <name>Loop_through_products</name>
        <label>Loop through products</label>
        <locationX>339</locationX>
        <locationY>112</locationY>
        <assignNextValueToReference>singleOppLineItem</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DataMIS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Contract_Term</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>815</locationX>
        <locationY>104</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>MIS Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>ActivationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>17</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Lookup_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>19</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opp_Product</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Product</name>
        <label>Lookup Opp Product</label>
        <locationX>155</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ListOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
    </recordLookups>
    <startElementReference>Lead</startElementReference>
    <variables>
        <name>ActivationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonthOne</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOneYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countThreeYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>singleOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>socketsOneMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>socketsOneYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>socketsThreeYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
