Aress7/src/flows/Create_MIS_Contract-22.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Default_Contract_Term</name>
        <label>Default Contract Term</label>
        <locationX>981</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please double check the contract term</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Sockets</name>
        <label>Number of Sockets</label>
        <locationX>227</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>TotalSockets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frTotalSockets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Term_Three_Year</name>
        <label>Set Contract Term</label>
        <locationX>535</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frContactTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MIS Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_Terms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>506</locationX>
        <locationY>16</locationY>
        <assignmentItems>
            <assignToReference>ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_month</name>
        <label>1 month</label>
        <locationX>119</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>countMonthOne</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Sockets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Year</name>
        <label>1 Year</label>
        <locationX>368</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>countOneYear</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Sockets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3_Year</name>
        <label>3 Year</label>
        <locationX>579</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>countThreeYear</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Sockets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_Terms</name>
        <label>Check Contract Terms</label>
        <locationX>687</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contract_Term_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractTerm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Contract_Term</targetReference>
            </connector>
            <label>Contract Term is Zero</label>
        </rules>
        <rules>
            <name>Contract_Term_is_not_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractTerm</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract</targetReference>
            </connector>
            <label>Contract Term is not Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>DataMIS</name>
        <label>Data &amp; MIS</label>
        <locationX>339</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Number_of_Sockets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Data_MIS_1_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleOppLineItem.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS (1 month)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_month</targetReference>
            </connector>
            <label>Data &amp; MIS (1 month)</label>
        </rules>
        <rules>
            <name>Data_MIS_1_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleOppLineItem.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS (1 year)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Year</targetReference>
            </connector>
            <label>Data &amp; MIS (1 year)</label>
        </rules>
        <rules>
            <name>Data_MIS_3_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleOppLineItem.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS (3 year)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Year</targetReference>
            </connector>
            <label>Data &amp; MIS (3 year)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source</name>
        <label>Source</label>
        <locationX>204</locationX>
        <locationY>22</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opp_Product</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>strSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables</targetReference>
            </connector>
            <label>Case Or Order</label>
        </rules>
    </decisions>
    <formulas>
        <name>frContactTerm</name>
        <dataType>Number</dataType>
        <expression>({!countMonthOne} * 1 + {!countOneYear} *12 + {!countThreeYear} *36)
*
(({!countMonthOne} + {!countOneYear} + {!countThreeYear}) / {!TotalSockets})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frTotalSockets</name>
        <dataType>Number</dataType>
        <expression>{!TotalSockets} + {!singleOppLineItem.Sockets__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>strContractName</name>
        <dataType>String</dataType>
        <expression>if(
OR (
{!strSource} = &apos;Case&apos; ,
{!strSource} = &apos;Order&apos; ),
&apos;Warranty Contract -&apos; + {!strOppName},&apos;MIS Contract -&apos; + {!strOppName}
)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Create MIS Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create MIS Contract</label>
    <loops>
        <name>Loop_through_products</name>
        <label>Loop through products</label>
        <locationX>339</locationX>
        <locationY>112</locationY>
        <assignNextValueToReference>singleOppLineItem</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DataMIS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Contract_Term_Three_Year</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>1038</locationX>
        <locationY>113</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>strType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>strDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>strContractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <stringValue>30</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>strOwnerd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>ActivationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>31</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOwnerd</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Product</name>
        <label>Lookup Opp Product</label>
        <locationX>111</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ListOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>Sockets__c</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>ActivationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countMonthOne</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOneYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countThreeYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>singleOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>socketsOneMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>socketsOneYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>socketsThreeYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOwnerd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </variables>
    <variables>
        <name>strType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalSockets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
