Aress7/src/flows/Escalate_Case-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>926</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>strMaintainanceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escalate_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_0</name>
        <label>Set Variables</label>
        <locationX>685</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>strMaintainanceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escalate_Case_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Account_is_blank</name>
        <label>If Account is blank</label>
        <locationX>226</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Lookup_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>strAccountID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>strAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Account_Message</targetReference>
            </connector>
            <label>No Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account</label>
        <locationX>679</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Set_Variables_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <interviewLabel>Escalate Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalate Case</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>474</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_record_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IsPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strShippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>811</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Variables</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>strContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue</name>
        <label>Lookup Queue</label>
        <locationX>479</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>strQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_record_type</name>
        <label>Lookup record type</label>
        <locationX>480</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Escalate_Case</name>
        <label>Escalate Case</label>
        <locationX>926</locationX>
        <locationY>314</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Level__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>strShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>strContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Picklist__c</field>
            <value>
                <elementReference>strShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Type__c</field>
            <value>
                <elementReference>strMaintainanceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>strQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>strShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>strShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Escalate_Case_0</name>
        <label>Escalate Case</label>
        <locationX>686</locationX>
        <locationY>437</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Level__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Type__c</field>
            <value>
                <elementReference>strMaintainanceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>strQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>No_Account_Message</name>
        <label>No Account Message</label>
        <locationX>231</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>There is no account selected in the case. Please select an account then click Escalate Case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>If_Account_is_blank</startElementReference>
    <variables>
        <name>IsPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMaintainanceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
