Aress7/src/flows/Launch_Decision_Tree-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_List</name>
        <label>Assign to List</label>
        <locationX>394</locationX>
        <locationY>29</locationY>
        <assignmentItems>
            <assignToReference>lstCaseSurvey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCaseSurvey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_ReDirect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_List_0</name>
        <label>Assign to List</label>
        <locationX>1078</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>lstCaseSurvey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCaseSurvey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>219</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Session_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Record_0</name>
        <label>Create Record</label>
        <locationX>1078</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strActionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Answer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCaseSurvey.Session_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>35</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>numCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frIncrementCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Decision_Node</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_from_Redirect</name>
        <label>Start from Redirect</label>
        <locationX>487</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>strNodeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strRedirectID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Redirect_Text</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_more_question</name>
        <label>No more question</label>
        <locationX>608</locationX>
        <locationY>440</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Survey_Records</targetReference>
            </connector>
            <label>End</label>
        </rules>
        <rules>
            <name>Not_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Answers_0</targetReference>
            </connector>
            <label>Not End</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Redirect</name>
        <label>No Redirect</label>
        <locationX>711</locationX>
        <locationY>33</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRedirectID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_from_Redirect</targetReference>
            </connector>
            <label>Redirect</label>
        </rules>
        <rules>
            <name>Not_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRedirectID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Action</targetReference>
            </connector>
            <label>Not Redirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoAction</name>
        <label>No Action</label>
        <locationX>874</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strActionText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Screen_0</targetReference>
            </connector>
            <label>Action</label>
        </rules>
        <rules>
            <name>No_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strActionText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Question</targetReference>
            </connector>
            <label>No Action</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Answers2</name>
        <dataType>String</dataType>
        <displayField>Text__c</displayField>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strNodeID</elementReference>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputAssignments>
            <assignToReference>strNodeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strAnswer</assignToReference>
            <field>Text__c</field>
        </outputAssignments>
        <sortField>Text__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Text__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>frIncrementCounter</name>
        <dataType>Number</dataType>
        <expression>if(ISNULL(numCounter),1,numCounter+1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Launch Decision Tree {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch Decision Tree</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Survey_Records</name>
        <label>Create Case Survey Records</label>
        <locationX>621</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <inputReference>lstCaseSurvey</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Action</name>
        <label>Lookup Action</label>
        <locationX>714</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoAction</targetReference>
        </connector>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strNodeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action</stringValue>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputAssignments>
            <assignToReference>strNodeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strActionText</assignToReference>
            <field>Text_Area__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Answers</name>
        <label>Lookup Answers</label>
        <locationX>35</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desicion_Screen</targetReference>
        </connector>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strNodeID</elementReference>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputReference>lstAnswers</outputReference>
        <queriedFields>Text__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Answers_0</name>
        <label>Lookup Answers</label>
        <locationX>230</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desicion_Screen</targetReference>
        </connector>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strNodeID</elementReference>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputReference>lstAnswers</outputReference>
        <queriedFields>Text__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>Text__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_counter</name>
        <label>Lookup counter</label>
        <locationX>36</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <object>Case_Surveys__c</object>
        <outputAssignments>
            <assignToReference>numCounter</assignToReference>
            <field>Session_Number__c</field>
        </outputAssignments>
        <sortField>Session_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Decision_Node</name>
        <label>Lookup Decision Node</label>
        <locationX>32</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Answers</targetReference>
        </connector>
        <filters>
            <field>Starting_Node__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputAssignments>
            <assignToReference>strNodeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strText</assignToReference>
            <field>Text_Area__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Question</name>
        <label>Lookup Question</label>
        <locationX>876</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_more_question</targetReference>
        </connector>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strNodeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question</stringValue>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputAssignments>
            <assignToReference>strNodeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strText</assignToReference>
            <field>Text_Area__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_ReDirect</name>
        <label>Lookup ReDirect</label>
        <locationX>567</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Redirect</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strNodeID</elementReference>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputAssignments>
            <assignToReference>strRedirectID</assignToReference>
            <field>Redirect_To__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Redirect_Text</name>
        <label>Lookup Redirect Text</label>
        <locationX>493</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Answers_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRedirectID</elementReference>
            </value>
        </filters>
        <object>Decision_Tree__c</object>
        <outputAssignments>
            <assignToReference>strText</assignToReference>
            <field>Text_Area__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Action_Screen</name>
        <label>Action Screen</label>
        <locationX>838</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActionMessage</name>
            <fieldText>Thank you for your time and completing the decision tree. Please close the window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Action_Screen_0</name>
        <label>Action Screen</label>
        <locationX>1073</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_0</targetReference>
        </connector>
        <fields>
            <name>ActionMessage_0</name>
            <fieldText>{!strActionText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Desicion_Screen</name>
        <label>Desicion Screen</label>
        <locationX>228</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!strText}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answers</name>
            <choiceReferences>Answers2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Answers&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_counter</startElementReference>
    <variables>
        <name>lstAnswers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Decision_Tree__c</objectType>
    </variables>
    <variables>
        <name>lstCaseSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Surveys__c</objectType>
    </variables>
    <variables>
        <name>numCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>objCaseSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Surveys__c</objectType>
    </variables>
    <variables>
        <name>strActionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strDecisionNodeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strNodeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRedirectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
