Aress7/src/flows/SA_field_Post_on_case_Feed-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckSAStatus</name>
        <label>Check SA Status</label>
        <locationX>349</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Insert_case_feed_SA_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SANumberIncompleteReason_Null_Check</targetReference>
            </connector>
            <label>Insert case feed SA Number &amp; Incomplete Reason&quot;</label>
        </rules>
        <rules>
            <name>Insert_case_feed_SAComment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAComment_Is_NOT_NULLcheck</targetReference>
            </connector>
            <label>Insert case feed SA Comment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSurveyWorkorder</name>
        <label>CheckSurveyWorkorder</label>
        <locationX>669</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Survey_work_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012240000002uEQAAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Feed_SAComment</targetReference>
            </connector>
            <label>Check Survey work order</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAComment_Is_NOT_NULLcheck</name>
        <label>SAComment Is NOT NULL</label>
        <locationX>661</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SAComment_Is_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAComment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupWorkorder</targetReference>
            </connector>
            <label>SAComment Is NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>SANumberIncompleteReason_Null_Check</name>
        <label>SANumberIncompleteReason Null Check</label>
        <locationX>147</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SANumberIncompleteReason_is_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SANumberIncompleteReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Post_on_Case_Feed</targetReference>
            </connector>
            <label>SANumberIncompleteReason is NOT NULL</label>
        </rules>
    </decisions>
    <interviewLabel>SA field Post on case Feed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA field Post on case Feed</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Feed_SAComment</name>
        <label>Create Case Feed SAComment</label>
        <locationX>674</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>Update_Case_status_to_open</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>SAComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Post_on_Case_Feed</name>
        <label>Create Post on Case Feed</label>
        <locationX>150</locationX>
        <locationY>404</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>SANumberIncompleteReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordLookups>
        <name>LookupWorkorder</name>
        <label>LookupWorkorder</label>
        <locationX>669</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSurveyWorkorder</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WorkOrderRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_status_to_open</name>
        <label>Update Case status to open</label>
        <locationX>680</locationX>
        <locationY>714</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>CheckSAStatus</startElementReference>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SANumberIncompleteReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAStatusPassed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
