Aress7/src/flows/Sync_Parent_Opp_on_change_on_Child_Opps-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Create_List</name>
        <label>Add to Create List</label>
        <locationX>131</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>ListOppLineItemCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateOppLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChildOppsCountaction</name>
        <label>ChildOppsCount</label>
        <locationX>721</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>childOppsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>720</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>totalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frFinalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>291</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>CreateOppLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strParentOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOppLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleOppLineItem.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOppLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleOppLineItem.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOppLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleOppLineItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOppLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleOppLineItem.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Create_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Closed_or_Not</name>
        <label>Closed or Not</label>
        <locationX>893</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_all_bids</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Not_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Opportunity</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_open_Bid</name>
        <label>Exists open Bid</label>
        <locationX>897</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>All_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOpenBidID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Opportunity_0</targetReference>
            </connector>
            <label>All Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Opp_is_null</name>
        <label>Parent Opp is null</label>
        <locationX>79</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strParentOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Parent</label>
        </rules>
        <rules>
            <name>Has_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strParentOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage</targetReference>
            </connector>
            <label>Has Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>291</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opp_Line_Itesm</targetReference>
            </connector>
            <label>Won</label>
        </rules>
        <rules>
            <name>Not_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_all_child_opportunities</targetReference>
            </connector>
            <label>Not Won</label>
        </rules>
    </decisions>
    <formulas>
        <name>frCount</name>
        <dataType>Number</dataType>
        <expression>{!childOppsCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frFinalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!totalAmount} / {!childOppsCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frTotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!totalAmount} + IF(ISNULL( {!oneChildOpp.Amount}),0,{!oneChildOpp.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sync Parent Opp on change on Child Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Parent Opp on change on Child Opps</label>
    <loops>
        <name>Loop_all_opp_line_items</name>
        <label>Loop all opp line items</label>
        <locationX>294</locationX>
        <locationY>374</locationY>
        <assignNextValueToReference>singleOppLineItem</assignNextValueToReference>
        <collectionReference>listOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_records</name>
        <label>Loop through all records</label>
        <locationX>719</locationX>
        <locationY>147</locationY>
        <assignNextValueToReference>oneChildOpp</assignNextValueToReference>
        <collectionReference>listChildOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChildOppsCountaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Line_Items</name>
        <label>Create Opp Line Items</label>
        <locationX>503</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Update_Parent_Opp</targetReference>
        </connector>
        <inputReference>ListOppLineItemCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_all_bids</name>
        <label>Lookup all bids</label>
        <locationX>893</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists_open_Bid</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127E0000004pVf</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strOpenBidID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_all_child_opportunities</name>
        <label>Lookup all child opportunities</label>
        <locationX>511</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127E0000004pVf</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>listChildOpps</outputReference>
        <queriedFields>Amount</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>73</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Parent_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strPriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strReasonForClosing</assignToReference>
            <field>Reason_for_Closing__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Line_Itesm</name>
        <label>Lookup Opp Line Itesm</label>
        <locationX>291</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>listOppLineItems</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Opp</name>
        <label>Lookup Parent Opp</label>
        <locationX>76</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Opp_is_null</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01224000000LRTD</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strParentOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Opp</name>
        <label>Update Parent Opp</label>
        <locationX>666</locationX>
        <locationY>498</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strParentOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>crChildOppAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Opportunity</name>
        <label>Update Parent Opportunity</label>
        <locationX>1087</locationX>
        <locationY>37</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strParentOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>totalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>strStageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Opportunity_0</name>
        <label>Update Parent Opportunity</label>
        <locationX>1100</locationX>
        <locationY>273</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strParentOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>totalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing__c</field>
            <value>
                <elementReference>strReasonForClosing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>strStageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>blAllClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>childOppsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>crChildOppAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreateOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>listChildOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ListOppLineItemCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>listOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>lstAllBids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oneChildOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>singleBid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>singleOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>strOpenBidID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strParentOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPhaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>strReasonForClosing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
