Aress7/src/flows/Sync_Opp_Fields_with_Cases-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>675</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>lstCasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loops_all_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_0</name>
        <label>Add to List</label>
        <locationX>963</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>lstCasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loops_all_cases_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>839</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>singleCase.Vehicle_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strVehicleMake</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Vehicle_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strVehicleModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Ordering_Tool_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strOrderingToolURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Ordering_Tool_Customer_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strOrderingToolURLCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Dealership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strDealership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Current_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strCurrentStep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strStageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields_0</name>
        <label>Update Fields</label>
        <locationX>771</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>singleCase.Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strStageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields_1</name>
        <label>Update Fields</label>
        <locationX>831</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>singleCase.Vehicle_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strVehicleMake</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Vehicle_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strVehicleModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Ordering_Tool_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strOrderingToolURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Ordering_Tool_Customer_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strOrderingToolURLCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Dealership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strDealership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Current_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strCurrentStep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCase.Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strStageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_Opp_Stage_Won</name>
        <label>if Opp Stage = On Hold</label>
        <locationX>643</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>Update_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_1</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
    </decisions>
    <interviewLabel>Sync Opp Fields with Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Opp Fields with Cases</label>
    <loops>
        <name>Loops_all_cases</name>
        <label>Loops all cases</label>
        <locationX>471</locationX>
        <locationY>184</locationY>
        <assignNextValueToReference>singleCase</assignNextValueToReference>
        <collectionReference>lstHomeChargeCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>if_Opp_Stage_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Record_Type_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loops_all_cases_0</name>
        <label>Loops all cases</label>
        <locationX>863</locationX>
        <locationY>406</locationY>
        <assignNextValueToReference>singleCase</assignNextValueToReference>
        <collectionReference>lstHCNorwayCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fields_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Homecharge_Cases</name>
        <label>Lookup Homecharge Cases</label>
        <locationX>258</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loops_all_cases</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstHomeChargeCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vehicle_Make__c</queriedFields>
        <queriedFields>Vehicle_Model__c</queriedFields>
        <queriedFields>Ordering_Tool_URL__c</queriedFields>
        <queriedFields>Ordering_Tool_Customer_URL__c</queriedFields>
        <queriedFields>Dealership__c</queriedFields>
        <queriedFields>Current_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Homecharge_Cases_0</name>
        <label>Lookup Homecharge Norway Cases</label>
        <locationX>671</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loops_all_cases_0</targetReference>
        </connector>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>lstHCNorwayCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Stage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>43</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strCurrentStep</assignToReference>
            <field>Current_Step__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strDealership</assignToReference>
            <field>Dealership__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOrderingToolURLCustomer</assignToReference>
            <field>Ordering_Tool_Customer_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strOrderingToolURL</assignToReference>
            <field>Ordering_Tool_URL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strStageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strVehicleMake</assignToReference>
            <field>Vehicle_Make__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strVehicleModel</assignToReference>
            <field>Vehicle_Model__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type</name>
        <label>Lookup Record Type</label>
        <locationX>48</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Homecharge_Cases</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homecharge Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_0</name>
        <label>Lookup Record Type</label>
        <locationX>475</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Homecharge_Cases_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Homecharge Norway</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>1015</locationX>
        <locationY>248</locationY>
        <inputReference>lstCasesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Opportunity</startElementReference>
    <variables>
        <name>lstCasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstHCNorwayCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstHomeChargeCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>singleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>strCurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strDealership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOrderingToolURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOrderingToolURLCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strVehicleMake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strVehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
