Aress7/src/flows/Taskray_Project_Creation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>InstallTempleteId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1G4E0000014zvN</stringValue>
        </value>
    </constants>
    <constants>
        <name>Temp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Project :</stringValue>
        </value>
    </constants>
    <constants>
        <name>temp2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Install Project :</stringValue>
        </value>
    </constants>
    <constants>
        <name>TemplateID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1G4E000001542W</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Project_Manager</name>
        <label>Check Project Manager</label>
        <locationX>577</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Project_manager_is_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectManagerUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TaskRayObject_record</targetReference>
            </connector>
            <label>Project manager is exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_related_to_Survey_or_INstall</name>
        <label>Is related to Survey or INstall</label>
        <locationX>567</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Taskray_Project_related_to_Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyOrInstall</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Project_Manager2</targetReference>
            </connector>
            <label>Taskray Project related to Install</label>
        </rules>
    </decisions>
    <formulas>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <expression>{!Temp}+&quot; &quot; + {!AccountName} + &quot; - &quot;+{!OpptyName}</expression>
    </formulas>
    <formulas>
        <name>ProjectNameInstall</name>
        <dataType>String</dataType>
        <expression>{!temp2}+&quot; &quot; + {!AccountName} + &quot; - &quot;+{!OpptyName}</expression>
    </formulas>
    <interviewLabel>Taskray Project Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Taskray Project Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Project_Manager2</name>
        <label>Lookup Project Manager</label>
        <locationX>572</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project_Manager</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ProjectManagerUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_TaskRayObject_record</name>
        <label>Update TaskRayObject record</label>
        <locationX>581</locationX>
        <locationY>511</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ProjectManagerUserID</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordUpdates>
    <startElementReference>Is_related_to_Survey_or_INstall</startElementReference>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectManagerUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyOrInstall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskrayAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskrayCaseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskRayOpptyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskRayProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
