Aress7/src/flows/Update_Bids_Probability-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>657</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>lstBidUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleBid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity</name>
        <label>Assign Probabillity</label>
        <locationX>116</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_0</name>
        <label>Assign Probabillity</label>
        <locationX>315</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_0_0</name>
        <label>Assign Probabillity</label>
        <locationX>460</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_0_0_1</name>
        <label>Assign Probabillity</label>
        <locationX>1049</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>62.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_0_0_2</name>
        <label>Assign Probabillity</label>
        <locationX>1361</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_0_1</name>
        <label>Assign Probabillity</label>
        <locationX>845</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>37.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_0_2</name>
        <label>Assign Probabillity</label>
        <locationX>1179</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_1</name>
        <label>Assign Probabillity</label>
        <locationX>631</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Probabillity_2</name>
        <label>Assign Probabillity</label>
        <locationX>967</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>numProbability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>411</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>singleBid.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numProbability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bid_Stage</name>
        <label>Bid Stage</label>
        <locationX>251</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Assign_Probabillity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Consultancy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultancy - Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity</targetReference>
            </connector>
            <label>Consultancy</label>
        </rules>
        <rules>
            <name>Tender_in_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tender in Process - Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_0</targetReference>
            </connector>
            <label>Tender in Process</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_0_0</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bid_Stage_0</name>
        <label>Bid Stage</label>
        <locationX>838</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Assign_Probabillity_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Consultancy_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultancy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_1</targetReference>
            </connector>
            <label>Consultancy</label>
        </rules>
        <rules>
            <name>Tender_in_Process_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tender in Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_0_1</targetReference>
            </connector>
            <label>Tender in Process</label>
        </rules>
        <rules>
            <name>Negotiation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_0_0_1</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bid_Stage_1</name>
        <label>Bid Stage</label>
        <locationX>1106</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Assign_Probabillity_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Consultancy_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultancy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_2</targetReference>
            </connector>
            <label>Consultancy</label>
        </rules>
        <rules>
            <name>Tender_in_Process_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tender in Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_0_2</targetReference>
            </connector>
            <label>Tender in Process</label>
        </rules>
        <rules>
            <name>Negotiation_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleBid.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Probabillity_0_0_2</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manufacture</name>
        <label>Manufacture</label>
        <locationX>466</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Bid_Stage_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>POD_Point_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strManufacturersSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POD Point Specified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Stage</targetReference>
            </connector>
            <label>POD Point Specified</label>
        </rules>
        <rules>
            <name>POD_Point_Others_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strManufacturersSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POD Point &amp; Others Specified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Stage_0</targetReference>
            </connector>
            <label>POD Point &amp; Others Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Master</name>
        <label>Master</label>
        <locationX>56</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Master2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Bid_Record_Type_0</targetReference>
            </connector>
            <label>Master</label>
        </rules>
        <rules>
            <name>Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Bid_Record_Type</targetReference>
            </connector>
            <label>Bid</label>
        </rules>
    </decisions>
    <interviewLabel>Update Bids Probability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Bids Probability</label>
    <loops>
        <name>Loop_Through</name>
        <label>Loop Through</label>
        <locationX>464</locationX>
        <locationY>64</locationY>
        <assignNextValueToReference>singleBid</assignNextValueToReference>
        <collectionReference>lstAllBids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Manufacture</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_All_Bids</name>
        <label>Lookup All Bids</label>
        <locationX>286</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>lstAllBids</outputReference>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Probability</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Bid_Record_Type</name>
        <label>Lookup Bid Record Type</label>
        <locationX>99</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_All_Bids</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Bid_Record_Type_0</name>
        <label>Lookup Master Record Type</label>
        <locationX>46</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Master_Opp</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master Bid</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Bid_Record_Type_0_1</name>
        <label>Lookup Bid Record Type</label>
        <locationX>47</locationX>
        <locationY>778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Master_Opp_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>strBidRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Master_Opp</name>
        <label>Lookup Master Opp</label>
        <locationX>47</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Bid_Record_Type_0_1</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strMasterOppId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>numMasterProbability</assignToReference>
            <field>Probability</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Master_Opp_0</name>
        <label>Lookup Master Opp</label>
        <locationX>53</locationX>
        <locationY>873</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_master_Opp</targetReference>
        </connector>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strPhaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strBidRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>numBidProbability</assignToReference>
            <field>Probability</field>
        </outputAssignments>
        <sortField>Probability</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_master_Opp</name>
        <label>update master Opp</label>
        <locationX>230</locationX>
        <locationY>875</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strMasterOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>numBidProbability</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>680</locationX>
        <locationY>64</locationY>
        <inputReference>lstBidUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Master</startElementReference>
    <variables>
        <name>CreateOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstAllBids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstBidUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>numBidProbability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numMasterProbability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numProbability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>singleBid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>strBidRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strManufacturersSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMasterOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPhaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
