Aress7/src/flows/Update_Opp_stage_to_Ready_to_Invoice-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Flag_to_true</name>
        <label>Set Flag to true</label>
        <locationX>375</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>ContainsSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contains_MIS_products</name>
        <label>Contains MIS products</label>
        <locationX>853</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contain_MIS_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Already_Exists</targetReference>
            </connector>
            <label>Contain MIS products</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Tasks_Exists</name>
        <label>If Tasks Exists</label>
        <locationX>848</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Task Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specific_Product</name>
        <label>Specific Product</label>
        <locationX>654</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product_is_Data_MIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleOppLineItems.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_to_true</targetReference>
            </connector>
            <label>Product is Data &amp; MIS</label>
        </rules>
    </decisions>
    <description>Update Opp stage to ready to invoice once a managed installation case is changed to Ready to Commissionl This flow will be classed from a process.</description>
    <formulas>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <expression>LEFT({!OppID},15)</expression>
    </formulas>
    <interviewLabel>Update Opp stage to Ready to Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opp stage to Ready to Invoice</label>
    <loops>
        <name>Loop_all_opp_line_items</name>
        <label>Loop all opp line items</label>
        <locationX>525</locationX>
        <locationY>310</locationY>
        <assignNextValueToReference>SingleOppLineItems</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Specific_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contains_MIS_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1133</locationX>
        <locationY>52</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052400000399mE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Activate MIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_all_Opportunities_items</name>
        <label>Lookup all Opportunities Items</label>
        <locationX>324</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ListOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>328</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_Stage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strStageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_Already_Exists</name>
        <label>Task Already Exists</label>
        <locationX>850</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Tasks_Exists</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activate MIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>strTaskID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Stage</name>
        <label>Update Opp Stage</label>
        <locationX>329</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Lookup_all_Opportunities_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ready to Invoice</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>ContainsSpecificProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
