Aress7/src/flows/Update_Payment_Type_in_Opp_based_on_Quote_Line_Items-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Contacts_Specifc_Product</name>
        <label>Contacts Specifc Product</label>
        <locationX>1073</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ContaintsSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvanceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncrementAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_all_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Name</name>
        <label>Product Name</label>
        <locationX>1071</locationX>
        <locationY>74</locationY>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItem.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Contacts_Specific_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specifc_Product_to_false</name>
        <label>Set Specifc Product to false</label>
        <locationX>283</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>ContaintsSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvanceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DataMIS1Year</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Data &amp; MIS (1 Year)</stringValue>
        </value>
    </constants>
    <constants>
        <name>DataMIS3Years</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Data &amp; MIS (3 Years)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>If_Contacts_Specific_Product</name>
        <label>If Contacts Specific Product</label>
        <locationX>1068</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Look_all_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Specific_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProductName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DataMIS1Year</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DataMIS3Years</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_Specifc_Product</targetReference>
            </connector>
            <label>If Specific Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Containts_Specific_Product</name>
        <label>If Containts Specific Product</label>
        <locationX>745</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_Specific_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContaintsSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Payment_Type</targetReference>
            </connector>
            <label>Contains Specific Product</label>
        </rules>
        <rules>
            <name>doesnotContains_Specific_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContaintsSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportuntiy_to_Advanced_Paid</targetReference>
            </connector>
            <label>Does not Contain Specific Product</label>
        </rules>
    </decisions>
    <formulas>
        <name>IncrementAmount</name>
        <dataType>Number</dataType>
        <expression>{!AdvanceAmount} + {!QuoteLineItem.TotalPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Payment Type in Opp based on Quote Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Payment Type in Opp based on Quote Line Items</label>
    <loops>
        <name>Look_all_line_items</name>
        <label>Look all line items</label>
        <locationX>750</locationX>
        <locationY>81</locationY>
        <assignNextValueToReference>QuoteLineItem</assignNextValueToReference>
        <collectionReference>ListQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Containts_Specific_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Quote</name>
        <label>Lookup Quote</label>
        <locationX>65</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Specifc_Product_to_false</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>opportunityID</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote_Line_Items</name>
        <label>Lookup Quote Line Items</label>
        <locationX>516</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_all_line_items</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>ListQuoteLineItems</outputReference>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Payment_Type</name>
        <label>Update Opportunity Payment Type</label>
        <locationX>498</locationX>
        <locationY>451</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advance_Paid__c</field>
            <value>
                <elementReference>AdvanceAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Advance Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportuntiy_to_Advanced_Paid</name>
        <label>Update Opportuntiy to Advance Paid</label>
        <locationX>974</locationX>
        <locationY>466</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advance_Paid__c</field>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Direct Debit</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Quote</startElementReference>
    <variables>
        <name>AdvanceAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContaintsSpecificProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
