Aress7/src/flows/Update_Opp_stage_to_Ready_to_Invoice-12.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Flag_to_true</name>
        <label>Set Flag to true</label>
        <locationX>674</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>ContainsSpecificProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contains_MIS_products</name>
        <label>Contains MIS products</label>
        <locationX>947</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contain_MIS_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsSpecificProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Already_Exists</targetReference>
            </connector>
            <label>Contain MIS products</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Tasks_Exists</name>
        <label>If Tasks Exists</label>
        <locationX>1147</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Task Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specific_Product</name>
        <label>Specific Product</label>
        <locationX>939</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product_is_Data_MIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleOppLineItems.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Data &amp; MIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_to_true</targetReference>
            </connector>
            <label>Product is Data &amp; MIS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>64</locationX>
        <locationY>165</locationY>
        <defaultConnector>
            <targetReference>Update_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Ready_to_be_Commissioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to be Commissioned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_to_install_complete</targetReference>
            </connector>
            <label>Ready to be Commissioned</label>
        </rules>
        <rules>
            <name>Survey_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_SurveyRequested</targetReference>
            </connector>
            <label>Survey Requested</label>
        </rules>
        <rules>
            <name>Survey_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Survey_Scheduled</targetReference>
            </connector>
            <label>Survey Scheduled</label>
        </rules>
        <rules>
            <name>Survey_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Survey_Complete</targetReference>
            </connector>
            <label>Survey Complete</label>
        </rules>
        <rules>
            <name>Survey_Quoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Survey_Quoted</targetReference>
            </connector>
            <label>Survey Quoted</label>
        </rules>
        <rules>
            <name>Install_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Install Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Install_Scheduled</targetReference>
            </connector>
            <label>Install Scheduled</label>
        </rules>
        <rules>
            <name>Install_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Install Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Install_Complete</targetReference>
            </connector>
            <label>Install Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Not_Equal_Invoiced</name>
        <label>Status Not Equal Invoiced</label>
        <locationX>408</locationX>
        <locationY>32</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Stage</targetReference>
            </connector>
            <label>Not Invoiced</label>
        </rules>
        <rules>
            <name>Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_all_Opportunities_items</targetReference>
            </connector>
            <label>Invoiced</label>
        </rules>
    </decisions>
    <description>Update Opp stage to ready to invoice once a managed installation case is changed to Ready to Commissionl This flow will be classed from a process.</description>
    <formulas>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <expression>LEFT({!OppID},15)</expression>
    </formulas>
    <interviewLabel>Update Opp stage to Ready to Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opp stage</label>
    <loops>
        <name>Loop_all_opp_line_items</name>
        <label>Loop all opp line items</label>
        <locationX>739</locationX>
        <locationY>61</locationY>
        <assignNextValueToReference>SingleOppLineItems</assignNextValueToReference>
        <collectionReference>ListOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Specific_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contains_MIS_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1153</locationX>
        <locationY>296</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052400000399mE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Activate MIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_all_Opportunities_items</name>
        <label>Lookup all Opportunities Items</label>
        <locationX>446</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_opp_line_items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ListOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>66</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>strOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strStageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_Already_Exists</name>
        <label>Task Already Exists</label>
        <locationX>1146</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Tasks_Exists</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activate MIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>strTaskID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>743</locationX>
        <locationY>379</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_to_Invoice__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Install_Complete</name>
        <label>Update Opp Install Complete</label>
        <locationX>388</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Install Complete</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Install Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Install_Scheduled</name>
        <label>Update Opp Install Scheduled</label>
        <locationX>163</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Install Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Stage</name>
        <label>Update Opp Stage</label>
        <locationX>612</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Lookup_all_Opportunities_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_to_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Survey_Complete</name>
        <label>Update Opp Survey Complete</label>
        <locationX>411</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Survey Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Survey_Quoted</name>
        <label>Update Opp Survey Quoted</label>
        <locationX>603</locationX>
        <locationY>472</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Survey Quoted</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Survey_Scheduled</name>
        <label>Update Opp Survey Scheduled</label>
        <locationX>255</locationX>
        <locationY>512</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Survey Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_SurveyRequested</name>
        <label>Update Opp Survey Requested</label>
        <locationX>59</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Survey Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_to_install_complete</name>
        <label>Update Opp to Install Complete</label>
        <locationX>283</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Status_Not_Equal_Invoiced</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Install Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Opp</startElementReference>
    <variables>
        <name>ContainsSpecificProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStatusCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
