Aress7/src/flows/Update_Support_Case_to_Assigned-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Owner_is_changed</name>
        <label>Owner is changed</label>
        <locationX>936</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Previous_was_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strOldValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HC Sales Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Previous was queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_is_not_user</name>
        <label>Owner is not user</label>
        <locationX>339</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Case</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>707</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Homecharge_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homecharge Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_previous_owner</targetReference>
            </connector>
            <label>Homecharge Case</label>
        </rules>
    </decisions>
    <interviewLabel>Update Support Case to Assigned {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Support Case to Assigned</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>lead</name>
        <label>lead</label>
        <locationX>1084</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Owner_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>lookup_previous_owner</name>
        <label>lookup previous owner</label>
        <locationX>933</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lead</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <object>CaseHistory</object>
        <outputAssignments>
            <assignToReference>strOldValue</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>160</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_is_not_user</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>strUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Case</name>
        <label>update Case</label>
        <locationX>523</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>600</locationX>
        <locationY>268</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>strOwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_User</startElementReference>
    <variables>
        <name>strCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
